{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<!DOCTYPE html>
<html>  
<head>
  <title>Pokédex</title>
  <!-- CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- JS do Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="shortcut icon" href="{% static 'pokedex/img/Pokemon_logo.png' %}" type="image/x-icon">
</head>
<div class="b-example-divider"></div>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/pokemons/" class="d-flex align-items-center justify-content-lg-start mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'pokedex/img/Pokemon_logo.png' %}" alt="Pokédex" width="100" height="32" class="me-2">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/comparar/" class="nav-link px-2 text-white">Versus</a></li>
      </ul>

      <form method="get" action="{% url 'buscar_pokemons' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" name="query" class="form-control form-control-dark" placeholder="Buscar por Nome ou ID" aria-label="Search">
      </form>

      <form method="get" action="{% url 'buscar_pokemons' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <select name="type" class="form-select form-select-dark" onchange="this.form.submit()">
          <option value="" {% if not request.GET.type %}selected{% endif %}>Todos os Tipos</option>
          <option value="normal" {% if request.GET.type == 'normal' %}selected{% endif %}>Normal</option>
          <option value="fire" {% if request.GET.type == 'fire' %}selected{% endif %}>Fire</option>
          <option value="water" {% if request.GET.type == 'water' %}selected{% endif %}>Water</option>
          <option value="electric" {% if request.GET.type == 'electric' %}selected{% endif %}>Electric</option>
          <option value="grass" {% if request.GET.type == 'grass' %}selected{% endif %}>Grass</option>
          <option value="ice" {% if request.GET.type == 'ice' %}selected{% endif %}>Ice</option>
          <option value="fighting" {% if request.GET.type == 'fighting' %}selected{% endif %}>Fighting</option>
          <option value="poison" {% if request.GET.type == 'poison' %}selected{% endif %}>Poison</option>
          <option value="ground" {% if request.GET.type == 'ground' %}selected{% endif %}>Ground</option>
          <option value="flying" {% if request.GET.type == 'flying' %}selected{% endif %}>Flying</option>
          <option value="psychic" {% if request.GET.type == 'psychic' %}selected{% endif %}>Psychic</option>
          <option value="bug" {% if request.GET.type == 'bug' %}selected{% endif %}>Bug</option>
          <option value="rock" {% if request.GET.type == 'rock' %}selected{% endif %}>Rock</option>
          <option value="ghost" {% if request.GET.type == 'ghost' %}selected{% endif %}>Ghost</option>
          <option value="dragon" {% if request.GET.type == 'dragon' %}selected{% endif %}>Dragon</option>
          <option value="dark" {% if request.GET.type == 'dark' %}selected{% endif %}>Dark</option>
          <option value="steel" {% if request.GET.type == 'steel' %}selected{% endif %}>Steel</option>
          <option value="fairy" {% if request.GET.type == 'fairy' %}selected{% endif %}>Fairy</option>
        </select>
      </form>
    </div>
  </div>
</header>
<body class="bg-dark text-light">
  {% block content %}
  {% endblock content %}
</body>
</html>